#define CANTP_NUM_OF_CONFIG ({{num_of_config}}u)
#define CANTP_NUM_OF_CHANNEL ({{num_of_channel}}u)
#define CANTP_MAX_NUM_OF_N_SDU ({{num_of_n_sdu}}u)

extern const CanTp_ConfigType CanTp_Config[CANTP_NUM_OF_CONFIG];
