*.pdf
.idea
cmake-*
swig/*
!swig/CanIf.i
!swig/CanTp.i
!swig/MANIFEST_.in
!swig/setup.py.in
!swig/__init__.py.in
func_test/*
!func_test/features
python/build
python/dist
python/pycantp.egg-info
python/pycantp/__pycache__
report/*
venv/*
