*.pdf
*.pyc
.idea
build*
cmake-*
src/*
swig/*
!swig/CanIf.i
!swig/CanTp.i
!swig/MANIFEST_.in
!swig/setup.py.in
!swig/__init__.py.in
func_test/*
!func_test/features
python/build
python/dist
python/pycantp.egg-info
report/*
test/unit_test/__pycache__
test/unit_test/pycantp/*
venv/*

