#ifndef CANTP_PBCFG_H
#define CANTP_PBCFG_H

#ifndef CANTP_TYPES_H
#include "CanTp_Types.h"
#endif /* #ifndef CANTP_TYPES_H */

#define CanTp_START_SEC_CONST_UNSPECIFIED
#include "CanTp_MemMap.h"

extern const CanTp_ConfigType CanTp_Config[{{'0x%02Xu' % configurations|length}}];

#define CanTp_STOP_SEC_CONST_UNSPECIFIED
#include "CanTp_MemMap.h"

#endif /* #ifndef CANTP_PBCFG_H */

