#ifndef CANTP_TYPES_H
#include "CanTp_Types.h"
#endif /* #ifndef CANTP_TYPES_H */

#ifndef CANTP_MAX_NUM_OF_CHANNEL
#define CANTP_MAX_NUM_OF_CHANNEL ({{max_num_of_channel}}u)
#endif /* #ifndef CANTP_MAX_NUM_OF_CHANNEL */

#ifndef CANTP_MAX_NUM_OF_N_SDU
#define CANTP_MAX_NUM_OF_N_SDU ({{num_of_n_sdu}}u)
#endif /* #ifndef CANTP_MAX_NUM_OF_N_SDU */

extern const CanTp_ConfigType CanTp_Config[{{num_of_config}}u];
